@use 'styles/mixins';

.board {
  overflow: auto;
  padding: 1.5rem;
  // @include mixins.flex(1rem, row);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 1rem;
  overflow-x: auto;
  grid-auto-flow: column;
}
