//color namings are inconsistent, because they are inconsistent on figma

$blue: #2d70fd;
$lightBlue: rgba(45, 111, 253, 0.1);
$darkBlue: #001747;
$darkBlue05: rgba(0, 23, 71, 0.05);
$darkBlue07: rgba(0, 23, 71, 0.07);
$green: #00d8a7;
$grey: #8c97ac;
$grey07: rgba(140, 151, 172, 0.07);
$grey50: #dddddd;
$grey100: #f6f9fb;
$grey200: #f1f4f4;
$grey300: #fafbfc;
$orange: #fe6b38;
$purple: #577cff;
$red: #ff6464;
$text: #405175;
$white: #ffffff;
$yellow: #ffd166;

$sidebarWidth: 185px;
$topbarHeight: 56px;
